/* ---IMPORTS--- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


* {
    margin: 0;
    padding: 0;
}


.titulo-cart {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin: 10px 0;
}


.btn-delete-buy {
    flex-direction: row-reverse;
    justify-content: flex-start;
}


.btn-delete-all {
    font-family: 'Poppins', sans-serif;
    color: #212326;
    background-color: #ffc107;
    border-color: #ffc107;
    justify-content: end;
    margin: 0 20px;
}

.btn-delete-all:hover {
    color: white;
    border-color: #ffc107;
    background-color: #ffc107;
    Text-Decoration: None !important;
    /* ---Shadow--- */
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
}



.btn-buy {
    font-family: 'Poppins', sans-serif;
    color: #212326;
    background-color: #ffc107;
    border-color: #ffc107;
    margin: 0 15px;
}

.btn-buy:hover {
    color: white;
    border-color: #ffc107;
    background-color: #ffc107;
    Text-Decoration: None !important;
    /* ---Shadow--- */
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
}


.price-item {
    justify-content: space-between;
    align-content: space-between;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 5px;
}


.item-detail {
    flex-direction: column;
}


.item-detail h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 2.2em;
}


.btn-delete-item {
    color: white;
    background-color: #DC3545;
    border-color: #DC3545;
    margin-left: 50px;
    margin-top: 1px;
    width: 17%;

}

.btn-delete-item:hover {
    color: white;
    background-color: #DC3545;
    border-color: #DC3545;
    /* ---Shadow--- */
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
}


.img-qty-item {
    margin-top: 25px;
}


.img-cart {
    width: 20%;
    margin-left: 50px;
    border-radius: 5%;
}


.qty-item {
    margin-left: 15px;
}

.img-qty-item img {
    width: 20%;
    margin-bottom: 12px;
}


.qty-item h3,
h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    margin: 5px 0;
}

.total-price {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-right: 15px;
    margin-top: 10px;
}