/* ----- imports -----*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
}


/* Sweet Alert */

#custom-target {
    margin-top: 15px;
}

.position-absolute {
    position:sticky;
    margin-top: 70px;
}


/* Detalles del Producto */

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.caja-contenedora{
    display: flex;
    justify-content: center;
    width: 600px;
    height: 380px;
    background-color: wheat;
    box-shadow: 0 15px 45px rgba(0, 0, 0, 0.25);
}

.body .img-caja{
    position: relative;
    min-width: 300px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-caja .imagen {
    width: 20%;
}

.titulo-tipo .titulo- {
    font-family: 'Inter', sans-serif;
    font-size: 0.7em;
    font-weight: bold;
}

/* .titulo-tipo h2 {
    font-family: 'Inter', sans-serif;
    font-size: 0.5em;
} */

/* .descripcion-caja h2,
.talles-caja h3 {
    font-size: 0.7em;
    font-weight: bold;

} */