/* ---IMPORTS--- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap');

/* ---CARD--- */

.card- {
    border-color: #F2F3F4;
    margin-right: 50px;
    margin-bottom: 40px;
    /* ---Shadow--- */
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
    border: none;
}

.card-body- {
    display: flex;
    justify-content: space-between;
    flex-direction: inherit;
}


.titulo {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: start;
    color: #2f2f2f;
    margin-bottom: auto;
}


.tipo {
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    text-align: start;
    letter-spacing: normal;
    line-height: 22px;
    color: #767677;
    margin-top: 20px;
}


.precio {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
    color: #2f2f2f;
    min-height: 1rem;
    margin-top: 12px;
}


.btn-details {
    font-family: 'Noto Sans Mono', monospace;
    color: black;
    background-color: #ffffff;
    border-color: #767677;
}

.btn-details:hover {
    color: white;
    background-color: #ffc107;
    border-color: white;
}


.rotate-vertical-center {
    animation: rotate-vertical-center 0.5s
}


@keyframes rotate-vertical-center {
    0% {
        transform: rotateY(0)
    }

    100% {
        transform: rotateY(360deg)
    }
}