/* ---IMPORTS--- */
@import url(//db.onlinewebfonts.com/c/c0cd6ec8ce6d2bbd315a13b62ed13550?family=AdihausDIN);


.categorias {
    font-family: AdihausDIN, Helvetica, Arial, sans-serif;
    line-height: 45px;
    letter-spacing: 1.87px;
}

.categoria- {
    text-decoration: none;
    color: #212326;
    font-size: 18px;
    margin-right: 20px;

}

.categoria-:hover {
    color: #42474c;
}

.carrito {
    color: #212326;

}