.btn-sumar {
    padding: 10px;
    margin: 10px;
}

.btn-restar {
    padding: 10px;
    margin: 10px;
}

.btn-agregarAlCarro {
    padding: 10px;
    margin: 10px;

}

.card {
    display: flex;
    margin: 20px;
}